FILAFLOW_IMAGE=ghcr.io/your-github-name/filaflow:v0.1.3
FILAFLOW_DATA_ROOT=/volume1/docker/filaflow
FILAFLOW_PORT=9000
FILAFLOW_PUBLIC_URL=http://192.168.1.10:9000
FILAFLOW_COOKIE_SECURE=false
FILAFLOW_FORWARDED_ALLOW_IPS=127.0.0.1

POSTGRES_DB=filaflow
POSTGRES_USER=filaflow
POSTGRES_PASSWORD=VUL_HIER_EEN_LANG_UNIEK_WACHTWOORD_IN
FILAFLOW_SECRET_KEY=VUL_HIER_MINSTENS_64_WILLEKEURIGE_TEKENS_IN
FILAFLOW_ADMIN_EMAIL=admin@example.local
FILAFLOW_ADMIN_PASSWORD=WIJZIG_DIT_DIRECT

BACKUP_DAILY_KEEP=7
BACKUP_WEEKLY_KEEP=4
BACKUP_HOUR=2
